---
---

@import "{{ site.theme }}";

section {
  margin-top: 0px;

  #title {
    margin-bottom: 0px;
    text-align: center;

    .credits {
      &.center {
        text-align: center;
      }
    }
  }

  #footer {
    border: 0;
    outline: none;
    margin: 0 0 50px 0;
    padding: 0 0 5px 0;
    text-align: center;

    .credits {
      font-size: 11px;
      font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: normal;
      color: #696969;
      margin-top: -10px;

      &.center {
        text-align: center;
      }
      &.left {
        float: left;
      }

      &.right {
        float: right;
      }
    }
  }
}
