---
---

@import "{{ site.theme }}";

section {
  #footer {
    border: 0;
    outline: none;
    margin: 0 0 50px 0;
    padding: 0 0 5px 0;

    .credits {
      font-size: 11px;
      font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: normal;
      color: #696969;
      margin-top: -10px;

      &.center {
        position: relative
        left: 50%
      }
      &.left {
        float: left;
      }

      &.right {
        float: right;
      }
    }
  }
}
